<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title> Contact Page </title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/Contacts/Home">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contacts/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contacts/Contact">Contact</a>
                </li>
                <li>
                    <a href="/logout"> Logout </a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>


        <h1 class="display-3">Contact Page</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>




</div> <!-- /container -->


</body>
</html>
